$chroma-primary: 30;
$hue-primary: 278;

@function darkest($hue, $chroma: $chroma-primary) {
  @return lch(20% $chroma $hue);
}

@function darker($hue, $chroma: $chroma-primary) {
  @return lch(30% $chroma $hue);
}

@function dark($hue, $chroma: $chroma-primary) {
  @return lch(40% $chroma $hue);
}

@function medium($hue, $chroma: $chroma-primary) {
  @return lch(50% $chroma $hue);
}

@function light($hue, $chroma: $chroma-primary) {
  @return lch(60% $chroma $hue);
}

@function lighter($hue, $chroma: $chroma-primary) {
  @return lch(70% $chroma $hue);
}

@function lightest($hue, $chroma: $chroma-primary) {
  @return lch(80% $chroma $hue);
}

$color-primary-darkest: darkest($hue-primary);
$color-primary-darker: darker($hue-primary);
$color-primary-dark: dark($hue-primary);
$color-primary: medium($hue-primary);
$color-primary-light: light($hue-primary);
$color-primary-lighter: lighter($hue-primary);
$color-primary-lightest: lightest($hue-primary);

$color-primary-lighter-hover: lighter($hue-primary, $chroma-primary + 20);

$color-primary-darkest-even: darkest($hue-primary, $chroma-primary + 15);
